In [1]:
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 


6 

2. What is the difference between string and variable?

3. Describe three different data types.

4. What is an expression made up of? What do all expressions do?
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

8. Why is eggs a valid variable name while 100 is invalid?
9. What three functions can be used to get the integer, floating-point number, or string version of a value?
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

SyntaxError: invalid syntax (<ipython-input-1-2d29b4e379c6>, line 1)

In [ ]:
1. Values:
    1.'hello'
    2. -87.8
    3. 6
   Expressions:
    1. *
    2. -
    3. /

In [ ]:
2. A string is a Set of Characters combined and is a data type lik int,float;while a variable is a name assigned to a value for an identification. Variable names can be strings

In [ ]:
3. Int: A data type which accepts only integers as its values
    Float:A data typ which accepts decimal values as its input and returns them as an output
        Strings: A data type that accepts a set of characters for its values

In [ ]:
4.An expression is a representation for a mathermatical operation
 for example:

In [2]:
3+3

6

In [3]:
3*3

9

In [4]:
3/3

1.0

In [ ]:
5.Spam =10 is an assigment of value 10 to Spam Variable. But, with an expression we perform an operation
as an example

In [8]:
"spam"*10

'spamspamspamspamspamspamspamspamspamspam'

In [14]:
6.

6.0

In [17]:
bacon=22

In [18]:
bacon+1

23

In [ ]:
7

In [15]:
 'spam' + 'spamspam'

'spamspamspam'

In [16]:
'spam' * 3

'spamspamspam'

In [ ]:
8.

In [19]:
eggs=10

In [20]:
eggs

10

In [22]:
A variable name should be a literal not a number

SyntaxError: invalid syntax (<ipython-input-22-fa79ceba1385>, line 1)

In [27]:
9

9

In [28]:
Value=10

In [30]:
print(int(Value))

10

In [31]:
print(float(Value))

10.0

In [36]:
print(str(Value))
type(str(Value))

10

str

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [37]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [38]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [ ]:
This is because of an error arising from concatinating two different data type variables. This can be solved by converting everything into same data type