In [ ]:
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields:
    title (text), author (text), and year (integer).
5. Read books.csv and insert its data into the book table.
6. Select and print the title column from the book table in alphabetical order.
7. From the book table, select and print all columns in the order of publication.
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
10. Increment the count field of test and print it.

In [ ]:
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [100]:
f=open('test.txt','w+')
test1='This is a test of the emergency text system'
f.writelines(test1)

In [ ]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [103]:
f=open('test.txt','r')
test2=f.readlines()

In [104]:
test2

['This is a test of the emergency text system']

In [ ]:
no,there is no difference

In [ ]:
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [8]:
import csv
rows=[['title','author','year'],
        ['The Weirdstone of Brisingamen','Alan Garner',1960],
        ['Perdido Street Station','China Miéville',2000],
        ['Thud!','Terry Pratchett',2005],
        ['The Spellman Files','Lisa Lutz',2007],
        ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer=csv.writer(file)
    writer.writerows(rows)

In [ ]:
4. Use the sqlite3 module to create a SQLite database called books.db,
and a table called books with these fields: title (text), author (text), and year (integer).

In [3]:
import sqlite3
conn = sqlite3.connect('books2.db')
c = conn.cursor()

c.execute('create table books2(title varchar(20),author varchar(20), year int)')
conn.commit()

In [ ]:
5. Read books.csv and insert its data into the book table.

In [4]:
import pandas as pd
read_books=pd.read_csv('books.csv',delimiter=',')
read_books.to_sql('books', conn,if_exists='append', index =False)

In [ ]:
6. Select and print the title column from the book table in alphabetical order.

In [26]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',), ('Thud!',), ('Thud!',)]

In [ ]:
7. From the book table, select and print all columns in the order of publication.

In [46]:

c.execute('select title,author,year from books order by year')

In [47]:
df=pd.DataFrame(c.fetchall(),columns=['title','author','year'])

In [48]:
df

                            title           author  year
0   The Weirdstone of Brisingamen      Alan Garner  1960
1   The Weirdstone of Brisingamen      Alan Garner  1960
2   The Weirdstone of Brisingamen      Alan Garner  1960
3   The Weirdstone of Brisingamen      Alan Garner  1960
4   The Weirdstone of Brisingamen      Alan Garner  1960
5                      Small Gods  Terry Pratchett  1992
6                      Small Gods  Terry Pratchett  1992
7                      Small Gods  Terry Pratchett  1992
8                      Small Gods  Terry Pratchett  1992
9                      Small Gods  Terry Pratchett  1992
10         Perdido Street Station   China Miéville  2000
11         Perdido Street Station   China Miéville  2000
12         Perdido Street Station   China Miéville  2000
13         Perdido Street Station   China Miéville  2000
14         Perdido Street Station   China Miéville  2000
15                          Thud!  Terry Pratchett  2005
16                          Thud!  Terry Pratchett  2005
17                          Thud!  Terry Pratchett  2005
18                          Thud!  Terry Pratchett  2005
19                          Thud!  Terry Pratchett  2005
20             The Spellman Files        Lisa Lutz  2007
21             The Spellman Files        Lisa Lutz  2007
22             The Spellman Files        Lisa Lutz  2007
23             The Spellman Files        Lisa Lutz  2007
24             The Spellman Files        Lisa Lutz  2007

In [ ]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [14]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books2.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [ ]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer. 
Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [15]:
pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\narsi\anaconda3\lib\site-packages (from redis) (20.9)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\narsi\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\narsi\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Installing collected packages: deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4
Note: you may need to restart the kernel to use updated packages.

In [17]:
import redis
conn=redis.Redis()